[submodule "themes/pelican-twitchy"]
	path = themes/pelican-twitchy
	url = https://github.com/ingwinlu/pelican-twitchy.git
[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
